body {
  background-color: 	#F5F5F5;
}

.introduction {
  margin: 0px 0px 0px 400px; /* Same as the width of the sidenav */
  font-size: 0.9em; /* Increased text to enable scrolling */
  padding: 0px 10px; 
  height: 100vh;
  background-size: cover; 
  opacity: 0.8; 
  filter: alpha(opacity=50); 
  display: flex;
  flex-direction: column;
}

.introduction-description {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
}

.introduction-description__main {
  width: 60%;
  margin-left: 5rem;
  margin-top: 10rem;
}

.introduction-description__main  p {
  font-size: 22px;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
}

/* .introduction-description__main-greating  p{
  display: flex;
  align-self: center;
  font-size: 4.5em;
  font-family: 'Fondamento', cursive; 
} */
.arrow-up-router,
.arrow-down-router {
  display:flex;
  align-self: center;
}

.loop {
  font-size: 4.5em;
  font-family: 'Fondamento', cursive; 
}

/* 
font-family: 'Fondamento', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif; */