.my-projects {
  margin: 0px 0px 0px 400px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  background-color: 	#F5F5F5; 
}

.arrow-up-router,
.arrow-down-router {
  display: flex;
  align-self: center;
  color: black;
}
 
.github-link {
  color: black;
  font-weight:bolder;
  text-decoration: none;
}

.project-link {
  color: 	#F0F8FF;
  text-decoration: none;
}

.github-link:hover,
.project-link:hover {
  text-decoration: underline;
}

/* h2 {
  font-size: 3em;
  margin: 0px;
  padding: 0px;
  text-align: center;
} */

.line {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
} 

.project {
  display: flex;
  /* flex-wrap: wrap; */
  text-align: center;
  justify-items: center;
  justify-content: space-around;
}

.project-item {
  position: relative;
} 

.project-image {
  margin: 45px; /* increase if want the images to slide down */
  width: 65%;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008cba;
  /* overflow: hidden; */
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 5px;

}

.project-item:hover .overlay {
  opacity: 0.9;
}

.text {
  color:  #F0F8FF; 
  font-size: 20px;
  /* font-weight: bold; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
