.navigation {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: yellow;
    overflow-x: hidden;
    padding-top: 20px;
}

.navigation a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .navigation a:hover {
    color: #f1f1f1;
  }

  #nav li,
  #sub-nav li{
    
    list-style-type: none;

  }

  .author-img {
      width: 10em;
      /* height: 150px; */
      margin: 0 auto;
      margin-top: 1em;
      margin-bottom: 0.5em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
  }
.email {
  display: block;
  font-size: 12px;
}



  @media screen and (max-height: 450px) {
    .navigation {padding-top: 15px;}
    .navigation a {font-size: 18px;}
  }