.contact-me {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

}

.navigation-sub_links {
  background-color:  black;
  /* #008cba;  */
   /* #3a809e;   */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 35vh;
  border-radius: 2.5%;
  margin-top: 2em;
}

.navigation-sub_links ul{
  color: white;
  width: auto;
  font-size: bold;
  text-align: center;
  list-style-type: none;
  line-height: 2.5em;
  padding: 0px;
} 

.arrow-up-router {
  display:flex;
  justify-content: flex-start;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.homepage-router {
  display:flex;
  /* align-self: flex-start;
  justify-content: flex-end; */
  margin-top: 5em;
  padding-top: 0.3em;
}
 
.logos:hover {
  filter: invert(100%) url(#logos-filter);
}

.homepage-router:hover, 
.arrow-up:hover,
.arrow-down:hover {
  filter: invert(0.4) sepia(0) hue-rotate(0deg) saturate(2) brightness(1);
}

.logo-sentence {
  color: white;
  font-weight:bolder;
  text-decoration: underline;
}


